
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Agendamentos</h1>
    
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Idade </th>
          <th scope="col">Sexo </th>
        </tr>
      </thead>
     
      <tbody>
        <% @appointments.each do |item| %>
          <tr scope="row">
            <td><%= item.age %></td>
            <td><%= item.sex %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
     
    <br>
  </div>
</div>