<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= column_chart Appointment.group(:age).count, title: "Distribuição das idades" %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <%= column_chart @lastFifteenDays, title: "Consultas Últimos #{@daysAgo} Dias por Gênero"%>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <%= column_chart @sex, title: "Distribuição Por Sexo "%>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a href='#' onclick="window.print();" class='btn btn-dark'>Gerar PDF</a>
    </div>
  </div>
</div>