<div class="jumbotron">
  <div class="container">
    <%
        partials = [
          "age_distribution",
          "day_filter_form",
          "appointment_per_sex_last_period",
          "sex_distribution",
          "appointments_per_disease",
          "diseases_per_profile",
          "appointments_per_period",
          "generate_pdf"
        ]
      %>

    <% partials.each do |p| %>
      <div class="row">
        <div class="col">
          <%= render p %>
        </div>
      </div>
    <% end %>
  </div>
