<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.png">

    <title>MED CheckApp Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/medcheckup.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">MED CheckApp Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Consultas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Leituras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wiki</a>
          </li>		  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboards</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Consultas</a>
              <a class="dropdown-item" href="#">Doenças investigadas</a>
              <a class="dropdown-item" href="#">Ações</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Busca" aria-label="Busca">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busca</button>
        </form>
      </div>
    </nav>

    <main role="main">

      <!-- Main -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">MED CheckApp Dashboard</h1>
          <p>O MED CheckApp Dashboard (nome provisório) é uma plataforma de agregação e visualização de dados médicos. Seu público-alvo são os gestores de saúde, como chefes de hospitais, diretores de clínicas médicas ou gestores de saúde pública. Com este dashboard, o gestor poderá visualizar agregações de dados coletados durante consultas de check-up. Tais dados são armazenados pelo fluxo de uso do MED CheckApp, um app em atual desenvolvimento numa parceria entre o depto. de Clínica Médica HC-USP e o CodeLab Butantã.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Detalhes do Projeto</h2>
            <p>Detalhes do Projeto</p>
            <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Item</h2>
            <p>Descrição do item</p>
            <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Equipe</h2>
				<ul>
					<li>Alécio Godoi</li>
					<li>Daniel Quiteque</li>
					<li>Fábio Nogueira</li>
					<li>Gustavo Molina</li>
					<li>João Daniel</li>
					<li>Pedro França</li>
				</ul>	
            <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
          </div>		  
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Arkade 2020</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
